h1 {
    font-family: 'JetBrains';
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    width: calc(100% - 20px);
    background-color: var(--menu-background-color);
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

#perfil-img:hover,
#fotos-disponibles img:hover {
    cursor: pointer;
}

#perfil-img {
    width: 150px;
}

#fotos-disponibles img {
    height: 130px;
    width: 130px;
    border: 2px solid var(--otro);
    grid-template-rows: auto;
}

#perfil-div {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

#perfil-info {
    margin: 15px;
}

#perfil-desc {
    margin: 15px;
}

p {
    font-family: 'Jaldi';
    color: #000000;
    font-size: 20px;
    font-weight: 300;
}