@font-face {
    font-family: 'Jetbrains';
    src: url('/Web/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jaldi';
    src: url('/Web/fonts/Jaldi-Regular.ttf') format('truetype');
}

:root {
    --body-background-color: #E0FBFC;
    --menu-background-color: #293241;
    --detalles-background-color: #EE6C4D;
    --otro: #98C1D9;
    --otro2: #3D5A80;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--detalles-background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--otro2);
    ;
    border-radius: 0px;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    background-color: var(--menu-background-color);
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

#nav-menu a {
    font-family: 'Jetbrains';
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
}

#nav-menu a:hover {
    color: #d1d1d1;
}

#sesion-div #apuntate:hover {
    color: #000000;

}

#logo-div {
    max-width: 35px;
}

#logo-pequeño {
    width: 50px;
    padding: 10px;
    margin: 0;
}

#sesion-div {
    align-items: end;
    float: right;
    height: 100%;
}

#pag-principales {
    display: flex;
    float: left;
    justify-content: space-between;
}

#sesion-div #apuntate {
    background-color: var(--detalles-background-color);
    padding-top: 100%;
    padding-bottom: 27px;
}



.nombre-seccion {
    font-family: 'Jetbrains';
    margin-left: 0;


}

footer {
    background-color: var(--menu-background-color);
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin: 0;
    margin-top: 5%;
    height: auto;

}



#links-footer-div,
#encuentra-footer-div {
    width: 33%;
    padding: 10px;
    height: 300px;
    margin-bottom: 0%;
    align-items: center;

}

#links-footer-div {
    align-items: center;
}

#contacto-footer-div {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 10px;
    height: 300px;
    align-items: start;

}

#contacto-footer-div a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Jaldi';
    padding: 5px;
}

.logo-redsocial {
    width: 20px;
    padding: 5px;

}

.redsocial {
    float: right;
    padding: 5px;
    align-self: end;
    margin-right: 65%;
}

#logo-grande {
    width: 100px;
    padding-top: 15%;
}

#localizacion {
    width: 450px;
    height: 230px;
}

#calle {
    float: right;
}

#copyright {
    padding-top: 14%;
}