:root {
    --body-background-color: #E0FBFC;
    --menu-background-color: #293241;
    --detalles-background-color: #EE6C4D;
    --otro: #98C1D9;
    --otro2: #3D5A80;
}

#div_padre {
    display: grid;
    place-items: center;
    height: 700px;
    justify-content: center;
}

#fondo_login {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: -1;
    filter: blur(5px);
}

#div_centro {
    border: 2px transparent;
    bottom: 0;
    border-radius: 10%;
    padding: 5px;
    display: grid;
    place-items: center;
    background: transparent;
    background: var(--menu-background-color);
    box-shadow: 10px 10px 20px var(--detalles-background-color);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 400px;
    transition: 0.5s;
}

.input_icon {
    position: absolute;
    right: 90px;
    top: 45%;
    cursor: pointer;
    width: 35px;
}

input {
    text-align: left;
    background-color: var(--otro);
    border: 1px solid var(--otro2);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 200;
    padding: 15px;
    margin: 10px;
    width: 350px;
    height: 25px;
    transition: 1.2s;
    font-size: 14px;
    font-family: 'Jaldi';
    box-shadow: var(--otro) 5px 5px 10px;
}

input:focus {
    border: 1px solid var(--otro);
    box-shadow: var(--otro) 5px 5px 10px;
    transition: 0.5s;
    outline: none;
}

h1 {
    margin-top: 20px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    font-family: 'Jetbrains';
}

.btn_lgn,
.btn_lgn2 {
    border: 2px solid transparent;
    background: hsla(0, 0%, 13%, 0.877);
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 25px;
    box-shadow: none;
    display: block;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Jaldi';
    box-shadow: #fffff0 5px 4px 10px;
}

.btn_lgn:hover {
    background-color: #85e985;
    color: black;
    box-shadow: #6fdb4e 5px 3px 10px;
    transition: ease 0.3s;
    cursor: pointer;
}

.btn_lgn2:hover {
    background-color: #e98585;
    color: black;
    box-shadow: #db4e4e 5px 3px 10px;
    transition: ease 0.3s;
    cursor: pointer;
}

#botons {
    display: flex;
    flex-direction: row;
    width: auto;
}

#botons button {
    margin: 30px;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

#registro-span {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Jaldi';
}

#registro-span a:hover {
    transition: 0.3s;
    text-shadow: var(--otro) 2px 0px 5px;
}